body {
    margin: 0;
    padding: 0;
    background: url("./assets/images/background-mobile.png");
    background-size: cover;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    box-sizing: border-box;
}

.common-div-class {
    background-color: transparent;
    color: white;
    /* border: 1px solid white; */
}

#logo-div {
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#para-div {
    flex: 2.1;
    text-align: center;
}

#input-div {
    flex: 7.2;
}

#main-logo {
    width: 50%;
}

#upload-avatar {
    border: 1px dotted white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

}

.input-box {
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

#instruction {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
}

.input-box-specifier {
    margin-bottom: 8px;
}

#upload-icon {
    background-color: rgba(255, 255, 255, 0.2);
    width: 15%;
    align-items: center;
    margin-top: 10px;
    border-radius: 25%;
}

#upload-avatar p{
    color: rgba(255, 255, 255, 0.7);
}

#generate-ticket {
    width: 100%;
    height: 8%;
    margin-top: 20px;
    background-color: orange;
    border-radius: 8px;
}




@media (min-width:426px) {
    body {
        background: url(./assets/images/background-desktop.png);
        background-size: cover; 
    }

    #main-logo {
        width: 20%;
    }
}